.scene {
	background: #000000;
}

.scene path:first-child {
	fill: #890ABF;      /*#8C4646*/
}

.scene path:nth-child(2) {
	fill: #57078C;        /*#D96459*/
}

.scene path:nth-child(3) {
	fill: #2F0459;       /* #F2AE72*/
}

.scene path:nth-child(4) {
	fill: #1C0340;         /* #F2E394*/
}

.scene path:nth-child(5) {
	fill: #0A2740;        /* #588C7E*/
}

.scene path:nth-child(6) {
	fill: #171819;   /* #171819*/
}

.scene path:nth-child(7) {
	fill: #0F0F0F;    /* #0F0F0F*/
}

.content-waves{
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
	z-index: 0;
}

